.button-container {
    position: fixed;
    top: 20px; /* İstenilen konuma göre ayarlayın */
    right: 20px; /* İstenilen konuma göre ayarlayın */
  }
  
  .button {
    background-color: #4CAF50; /* Renk */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  