.menu{
    background-color: azure;
    border-radius: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 0%;
    justify-content: flex-end;
}

.menu .item {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 20px;
    text-decoration: 0;
  }
  